/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    .options {
        background-color: darkgray;
        border-bottom-color: black;
        border-bottom-style: solid;
        border-width: 1px;
    }
}
